.pagination {
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 30px;
    color: black;
    margin: auto;
  }
  
  .item {
    display: flex;
    flex-direction: row;
    background-color: aqua;
    color: black;
  }
  .pagination a {
    display: flex;
    flex-direction: row;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }

  .pagination a:hover {
    cursor: pointer;
  }

  .link {
    display: flex;
    flex-direction: row;
    background-color: green;
    color: black;
  }
